<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated drurymo631 -->
      <package
            uri="http://org.drury.mo631/druryMO631"
            class="org.drury.mo631.project.projectPackage"/>
   </extension>

</plugin>
