<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated drurymo631 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.drury.mo631.project.presentation.projectModelWizardID"
            name="%_UI_projectModelWizard_label"
            class="org.drury.mo631.project.presentation.projectModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/projectModelFile.gif">
         <description>%_UI_projectModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated drurymo631 -->
      <editor
            id="org.drury.mo631.project.presentation.projectEditorID"
            name="%_UI_projectEditor_label"
            icon="icons/full/obj16/projectModelFile.gif"
            extensions="project"
            class="org.drury.mo631.project.presentation.projectEditor"
            contributorClass="org.drury.mo631.project.presentation.projectActionBarContributor">
      </editor>
   </extension>

</plugin>
